# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore environment and virtual environment files
.env
.venv/
env/
venv/

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store  # macOS
Thumbs.db  # Windows
